@font-face {
  font-family: 'Good Times';
  src: url('fonts/good-times-rg.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('fonts/good-times-rg.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
}

/** START HEADER **/
.navbar {
  justify-content: space-between !important;
  margin-bottom: 20px;
}
.navbar-brand {
  font-family: 'Good Times';
}
.nav-item {
  text-align: center;
}
.nav-link {
  border-radius: 10px;
}
.nav-link:hover {
  background-color: #dfa007;
}
/* Only large screens */
@media (min-width: 768px) {
  #navbarNav {
    justify-content: flex-end;
  }
}
/** END HEADER **/
#video-preview {
  border: 0;
}
/** BEGIN MAIN **/
