@font-face {
  font-family: 'Good Times';
  src: url('fonts/good-times-rg.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('fonts/good-times-rg.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

/** START HEADER **/
.navbar {
  justify-content: space-between !important;
  margin-bottom: 20px;
}
.navbar-brand {
  font-family: 'Good Times';
  cursor: pointer;
}
.nav-item {
  text-align: center;
}
.nav-link {
  border-radius: 10px;
}
.nav-link:hover {
  background-color: #dfa007;
}
/* Only large screens */
@media (min-width: 768px) {
  #navbarNav {
    justify-content: flex-end;
  }
}
/** END HEADER **/


/** BEGIN MAIN **/
#video1-preview {
  height: 50%;
  margin: 0;
}

#video2-preview {
  margin: auto;
  width: 95%;
  height: 95%;
}
@media only screen and (min-width: 1000px){
  #video2-preview {
    width: 80%;
    height: 80%;
  }
}

/* #video2-container {
  margin-bottom: 15vh;
} */

.picker {
	border-width: 2px;
	border-style: solid;
  text-transform: uppercase;
}

#picker1 {
	border-left-width: 2em;
	border-color: red;
}
#picker2 {
  border-right-width: 2em;
	border-color: blue;
}