<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SalahLY</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='color-picker/wcolpick.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: [
            "Poppins:300,400,500,600,700",
            "Roboto:300,400,500,600,700"
          ]
        },
        active: function() {
          sessionStorage.fonts = true;
        }
      });
    </script>

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{{ url_for('static', filename='icon/apple-icon-57x57.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename='icon/apple-icon-60x60.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{{ url_for('static', filename='icon/apple-icon-72x72.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{{ url_for('static', filename='icon/apple-icon-76x76.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{{ url_for('static', filename='icon/apple-icon-114x114.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{{ url_for('static', filename='icon/apple-icon-120x120.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{{ url_for('static', filename='icon/apple-icon-144x144.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{{ url_for('static', filename='icon/apple-icon-152x152.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='icon/apple-icon-180x180.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{{ url_for('static', filename='icon/apple-icon-192x192.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='icon/favicon-32x32.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{{ url_for('static', filename='icon/favicon-96x96.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='icon/favicon-16x16.png')}}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='icon/manifest.json')}}"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="{{ url_for('static', filename='icon/ms-icon-144x144.png')}}"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    {% block layout %} {% endblock %}

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='jquery-3.4.0.js') }}"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='color-picker/wcolpick.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>
