{% extends 'layout.html' %} {% block body %}

<h3>What it does:</h3>
<p style="padding-left: 20px;">
    <font size="+1">
        I'm a self-declared football obsessive, but when I sat down to watch the opening match of the 2018 World Cup I couldn't tell one team from the other.
        <br/>
        The problem? I, like 1 in 12 men and 1 in 200 women, am colour-blind.
        <br/>
        Specifically, I struggle to tell red and green apart - the most common form of the condition. So if one team plays in red kit (Russia) and one in green (Saudi), it's game over.
    </font>
    <font size="+1">
        I watched it like that:
    </font>
    <br/>
    <br/>
    <br/>
    <img src="https://ichef.bbci.co.uk/news/624/cpsprodpb/3F11/production/_102454161_russia-saudi2prot.jpg" alt="Saudi Arabia vs Russia blindness case" height="400" width="600">
    <br/>
    <br/>
    <br/>
    <font size="+1">
        instead of that:
    </font>
    <br/>
    <br/>
    <br/>
    <img src="https://ichef.bbci.co.uk/news/624/cpsprodpb/8D31/production/_102454163_russia-saudi.jpg" alt="Saudi Arabia vs Russia correct case" height="400" width="600">
    <br/>
    <br/>
    <br/>
    <font size="+1">
        If colors blindness is your case, no more worries you can still watch your favourite goals with full excitement. Our application has been designed just for you.
    </font>
</p>
<h3>How to run it:</h3>
<h3>How it internally works:</h3>
{% endblock %}