{% extends 'layout.html' %} {% block body %}

<h3>What it does:</h3>
<br/>
<p style="padding-left: 20px;">
    <font size="+1">
        I'm a self-declared football obsessive, but when I sat down to watch the opening match of the 2018 World Cup I couldn't tell one team from the other.
        <br/>
        The problem? I, like 1 in 12 men and 1 in 200 women, am colour-blind.
        <br/>
        Specifically, I struggle to tell red and green apart - the most common form of the condition. So if one team plays in red kit (Russia) and one in green (Saudi), it's game over.
    </font>
    <font size="+1">
        I watched it like that:
    </font>
    <br/>
    <br/>
    <br/>
    <img src="https://ichef.bbci.co.uk/news/624/cpsprodpb/3F11/production/_102454161_russia-saudi2prot.jpg" alt="Saudi Arabia vs Russia blindness case" height="400" width="600">
    <br/>
    <br/>
    <br/>
    <font size="+1">
        instead of that:
    </font>
    <br/>
    <br/>
    <br/>
    <img src="https://ichef.bbci.co.uk/news/624/cpsprodpb/8D31/production/_102454163_russia-saudi.jpg" alt="Saudi Arabia vs Russia correct case" height="400" width="600">
    <br/>
    <br/>
    <br/>
    <font size="+1">
        If colors blindness is your case, no more worries you can still watch your favourite goals with full excitement. Our application has been designed just for you.
    </font>
</p>
<br/>
<br/>
<h3>How to run it:</h3>
<br/>
<p style="padding-left: 20px;">
    <font size="+1">
        1- get a youtube link for your best goals.
        <br/>
        2- Paste it then choose the starting second and the ending second to trim unwanted parts in the video.
        <br/>
        3- press Download.
        <br/>
        4- choose the t-shirts colors that fits you the most.
        <br/>
        5- press convert and enjoy these moments.
    </font>
</p>
<br/>
<br/>
<h3>How it internally works:</h3>
<br/>
<p style="padding-left: 20px;">
    <font size="+1">
        As a brief, we first search the video for a good frame. A good frame means a frame with the players of the two teams as some parts of the video
        focus on the fans or coaches or zoomed in on a single player.<br/>
        We use this good frame to detect the t-shirts colors.<br/>
        Once the t-shirts colors are known, we use a mask to color players' t-shirts with the desired color.<br/>
        <b>Searching for a good frame: </b> <br/>
        We search video frames sequentially to find a frame with a histogram in which green pixels are dominant and with a percentage higher than
        a preset percentage.
        since green pixels are dominant, this means that this shot is not for fans or coaches or zoomed in frames or etc..<br/>
        <b>Detecting T-shirts colors:</b> <br/>
        Once we find a good frame, We remove the background which represents the green court.<br/>
        After omitting the background, only players are left (players of the two teams).<br/>
        We re-calculate the histogram of that good frame after removing the background. Now, the dominant colors are the colors of the two teams
        t-shirts.<br/>
        Therefore, We now know the colors of the t-shirts, it's time to re-color them.<br/>
        <b>Change t-shirt colors:</b><br/>
        First, we get the pixels in the range of the detected t-shirt color. We threshold these pixels into black and white in order to get a mask of the t-shirts positions in the frame (Image segmentation with colors).<br/>
        We create a transformation matrix with a color that, when added to the original t-shit color, gives us the required color.<br/>
        We use bitwise anding between this transformation matrix and the pre-made mask. Therefore, this transformation matrix is only applied to players t-shirts.<br/>
        Now, it's time to add this transformation matrix to the original photo. (Original photo + Masked transformation matrix)<br/>
    </font>
</p>
<br/>
<br/>
<br/>
{% endblock %}