{% extends 'layout.html' %} {% block body %}
<div class="row">
  <form class="col-12 col-sm-12 col-md-6 mx-auto" id="video-upload" , method="POST">
    <div class="form-group justify-content-center">
      <input
        required
        name="url"
        class="form-control"
        type="text"
        placeholder="Enter video URL..."
      />
    </div>
    <div class="form-group d-flex justify-content-center">
      <button id="video-submit" class="btn btn-secondary" type="submit">
        <span
          class="spinner-border spinner-border-sm"
          hidden
          id="upload-spinner"
          role="status"
          aria-hidden="true"
        ></span>
        <span id="upload-text">UPLOAD</span>
      </button>
    </div>
    <div hidden class="form-group alert alert-danger text-center" id="upload-error"></div>
    <figure hidden class="figure row mx-0 justify-content-center" id="video-container">
      <figcaption
        id="originalVideoTitle"
        class="figure-caption w-100 text-left"
      ></figcaption>
      <div class="w-100"></div>
      <iframe
        id="video-preview"
        class="figure-img img-fluid rounded w-100"
      >
      </iframe>
      <div class="w-100"></div>
      <figcaption class="figure-caption w-100 text-right">
        Your original video
      </figcaption>
    </figure>
  </form>
  <!-- <form method="POST" id="video-process">
      <div class="form-group">
          <button class="btn btn-warning" type="submit">CONVERT VIDEO</button>
      </div>
  </form> -->
</div>
{% endblock %}
