{% extends 'layout.html' %} {% block body %}
<div class="row mt-3">
  <form
    class="col-12 col-sm-12 col-md-6 mx-auto"
    id="video-upload"
    ,
    method="POST"
  >
    <h4 class="mx-auto my-3 text-center">
      Upload Video
    </h4>
    <div class="form-group justify-content-center">
      <input
        name="url"
        class="form-control"
        type="text"
        placeholder="Enter video URL..."
      />
    </div>
    <div class="form-group d-flex justify-content-center">
      <button
        disabled
        id="video-submit"
        class="btn btn-secondary"
        type="submit"
      >
        <span
          style="display: none"
          class="spinner-border spinner-border-sm"
          id="upload-spinner"
          role="status"
          aria-hidden="true"
        ></span>
        <span id="upload-text">FETCH</span>
      </button>
    </div>
    <div
      style="display: none"
      class="form-group alert alert-danger text-center"
      id="upload-error"
    ></div>
    <figure
      style="display: none"
      class="figure mx-0 mt-5 justify-content-center"
      id="video1-container"
    >
      <figcaption
        id="originalVideoTitle"
        class="figure-caption w-100 text-left"
      ></figcaption>
      <div class="w-100"></div>
      <video id="video1-preview" controls class="w-100"></video>
      <div class="w-100"></div>
      <figcaption class="figure-caption w-100 text-right">
        original video
      </figcaption>
    </figure>
  </form>
</div>
<!-- <div class="w-100"></div> -->
<div class="row pb-5" id="color-choose" style="display: none">
  <form class="col-12 col-sm-12 col-md-6 mx-auto" method="POST" id="color-form">
    <h4 class="mx-auto my-3 text-center">
      Choose Team Colors
    </h4>
    <div class="form-group d-flex justify-content-between">
      <input
        name="picker1"
        class="form-control picker mr-3"
        type="text"
        id="picker1"
        readonly
        placeholder="Team #1"
        value="#FF0000"
      />
      <input
        name="picker2"
        class="form-control picker ml-3"
        type="text"
        id="picker2"
        readonly
        placeholder="Team #2"
        value="#FF0000"
      />
    </div>
    <div class="form-group d-flex justify-content-between">
      <input
        type="text"
        class="form-control mr-3"
        name="start"
        placeholder="start time"
      />
      <input
        type="text"
        class="form-control ml-3"
        name="end"
        placeholder="end time"
      />
    </div>
    <div class="form-group d-flex justify-content-between">
      <button id="color-submit" class="btn btn-warning mx-auto" type="submit">
        <span
          style="display: none"
          class="spinner-border spinner-border-sm"
          id="color-spinner"
          role="status"
          aria-hidden="true"
        ></span>
        <span id="color-text">CONVERT</span>
      </button>
      <a
        id="result-download"
        style="display: none"
        class="btn btn-secondary mx-auto"
      >
        Download Result Video
      </a>
    </div>

    <div
      style="display: none"
      class="form-group alert alert-danger text-center"
      id="convert-error"
    ></div>
  </form>
  <div class="w-100"></div>
</div>
<!-- <div id="video2-container" style="display: none">
  <figure
    class="figure mx-0 d-flex justify-content-center"
  >
    <video id="video2-preview" controls autoplay></video>
  </figure>
</div> -->

{% endblock %}
